exportPattern("^[[:alpha:]]+")
import(sp)
import(foreach)
import(doParallel)
import(rgdal)
import(raster)
import(openair)
importFrom(plyr,dlply)
importFrom(plyr,ddply)
importFrom(plyr,laply)
importFrom(reshape, rename)
importFrom(maptools,gzAzimuth)

importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)